@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $( document ).ready(function() {
        getList();
    });

    function getList() {
        var table = $('#listTable').DataTable({
            ajax: {
                'url': '@Url.Action("GetBoardList", "Home")',
                'type': "GET",
                "dataSrc": function (Data) {
                    $('#json').val(JSON.stringify(Data.Data));
                    return Data.Data;
                }       
            },
            columns: [
                { "data": "BoardID" },
                { "data": "BoardHeader" },
                { "data": "BoardType" },
                { "data": "VisitCount" },
            ],
            destroy: true,
            order: [3, 'dsc']
        });

        $('#listTable tbody').on('click', 'tr', function () {

            var data = table.row(this).data();
            window.location.href='@Url.Action("Board", "Home")' + '?id=' + data.BoardID;
        });
    }
    
</script>

<div class="row">
    <div class="col">
        <table id="listTable">
            <thead>
                <tr>
                    <th>看版ID</th>
                    <th>看板標題</th>
                    <th>看板類型</th>
                    <th>熱門</th>
                </tr>
            </thead>
        </table>
        <textarea id="json"></textarea>
    </div>
</div>