@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    
    function getList() {
        var table = $('#listTable').DataTable({
            ajax: {
                'url': "GetBoardList",
                'type': "GET",
                'dataSrc': 'Data'
            },
            columns: [
                { "data": "BoardID" },
                { "data": "BoardHeader" },
                { "data": "BoardType" },
                { "data": "VisitCount" },
            ],
            destroy: true,
            order: [3, 'dsc']
        });

        $('#listTable tbody').on('click', 'tr', function () {

            var data = table.row(this).data();
            $('#txtTargetID').val(data.BoardID);
        });
    }
    function getArticle() {
        var param = {
            "boardId": $('#txtTargetID').val(),
            "count": $('#txtTargetCount').val(),
            "filterHeat":$('#txtHeat').val(),
        }
        
        var table = $('#ArticleTable').DataTable({
            ajax: {
                url: "GetTitleInfo",
                type: "GET",
                dataSrc: 'Data',
                data:param
            },
            columns: [
                { "data": "Title" },
                { "data": "Heat" },
                { "data": "Date" },
                { "data": "Author" },
            ],
            destroy: true,
            order: [3, 'dsc']
        });
    }
    function getContent() {
        var param = {
            "boardId": $('#txtTargetID2').val(),
            "count": $('#txtTargetCount2').val(),
        }
        $.ajax({
            type: "GET",
            url: 'GetContent',
            data: param,
            success: function (data) {
                alert('success');
                console.log(data)
                return false;
            }
        });
    }
</script>

<div class="jumbotron">
    <h1>PTT爬蟲</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>GetBoardList:</h2>
        <p>
            Get the List of https://www.ptt.cc/index.html
        </p>
        <button onclick="getList()">取得列表</button>
        <table id="listTable">
            <thead>
                <tr>
                    <th>看版ID</th>
                    <th>看板標題</th>
                    <th>看板類型</th>
                    <th>熱門</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-4">
        <h2>GetTitleInfo:取得文章列表</h2>
        <table>
            <tr>
                <td>
                    看板ID
                </td>
                <td>
                    <input id="txtTargetID" />
                </td>
            </tr>
            <tr>
                <td>
                    搜尋筆數
                </td>
                <td>
                    <input id="txtTargetCount" />
                </td>
            </tr>
            <tr>
                <td>
                    熱門
                </td>
                <td>
                    <input id="txtHeat" />
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="getArticle()">取得列表</button>
                </td>
            </tr>
        </table>
        <table id="ArticleTable">
            <thead>
                <tr>
                    <th>文章標題</th>
                    <th>Heat</th>
                    <th>發文日期</th>
                    <th>作者</th>
                </tr>
            </thead>
        </table>

    </div>
    <div class="col-md-4">
        <h2>GetContent:取得內容</h2>
        <table>
            <tr>
                <td>
                    看板ID
                </td>
                <td>
                    <input id="txtTargetID2" />
                </td>
            </tr>
            <tr>
                <td>
                    搜尋筆數
                </td>
                <td>
                    <input id="txtTargetCount2" />
                </td>
            </tr>
            <tr>
                <td>
                    <button onclick="getContent()">取得內容</button>
                </td>
            </tr>
        </table>
    </div>
</div>