
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Intro.css">

<section class="site-self" style="background-image: url(../../Content/Img/pexels-photo-1420709.jpeg);" id="section-home" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row intro-text align-items-center justify-content-center">
            <div class="col-md-10 text-center pt-5">
                <h1 class="site-heading site-animate fadeInUp site-animated">Hello, I'm <strong class="d-block">Tim</strong></h1>
                <strong class="d-block text-white text-uppercase letter-spacing">and this is My Rezume</strong>
            </div>
        </div>
    </div>
</section>
<section class="site-project" id="section-project">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12">
                <strong style="font-size: 30px;">Side Project</strong>
            </div>
        </div>
        <div class="filters-content">
            <div class="row grid" style="position: relative; height: 944.766px;">
                <div class="single-portfolio col-sm-4 all mockup" style="position: absolute; left: 0%; top: 0px;">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p1.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>高鐵訂票機器人</h4>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4 all mockup" style="position: absolute; left: 33.3318%; top: 0px;">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p2.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>PTT爬蟲</h4>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4 all packaging" style="position: absolute; left: 66.6637%; top: 0px;">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p3.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>Windows桌面工具</h4>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4 all packaging" style="position: absolute; left: 0%; top: 472.383px;">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p4.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>Ro新世代腳本</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-exp" id="section-exp">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12">
                <strong style="font-size: 30px;">Education Experience</strong>
            </div>
        </div>
        <div class="filters-content">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">Education</h2>
                    <div class="resume-item mb-4">
                        <i class="fas fa-calendar-alt" style="padding-right:15px"></i>2013/07/01~2017/07/01
                        <h3>Bachelor</h3>
                        <p>I completed my bachelor degree in Information Management at NSYSU.</p>
                        <i class="fas fa-school" style="padding-right:15px"></i><span class="school">National Sun Yat-sen University</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-5">Education</h2>
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                        <h3>Masteral in Information Technology</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        <span class="school">New York University</span>
                    </div>
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
                        <h3>Masteral in Information Technology</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        <span class="school">New York University</span>
                    </div>
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> March 2013 - Present</span>
                        <h3>Masteral in Information Technology</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        <span class="school">New York University</span>
                    </div>
                    <div class="resume-item mb-4">
                        <span class="date"><span class="icon-calendar"></span> March 2013 - Present Deacember.</span>
                        <h3>Masteral in Information Technology</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        <span class="school">New York University</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
