
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Intro.css">

<section class="site-self" style="background-image: url(/Content/Img/pexels-lumn-316466.jpg);" id="section-home" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row intro-text align-items-center justify-content-center">
            <div class="col-md-10 text-center pt-5">
                <h1 class="site-heading site-animate fadeInUp site-animated">Hello, I'm <strong class="d-block">Tim</strong></h1>
                <strong class="d-block text-black text-uppercase letter-spacing">and this is My Rezume</strong>
                <a href="https://github.com/hung0123">Github</a>

            </div>
        </div>
    </div>
</section>
<section class="site-project" id="section-project-job">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-my-12">
                <strong style="font-size: 30px;">Project Experience</strong>
            </div>
        </div>
        <div class="filters-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="resume-item mb-4">
                        <i class="fas fa-calendar-alt" style="padding-right:15px"></i>Aug 2018 - Present
                        <h3>
                            <a href="http://www.accudata.com.tw/ARI_WEB/Ariweb_doInit.action">Accudata</a>
                        </h3>
                        <ul>
                            <li>
                                <p>Maintain the internal system of FamilyMart and it's Subsidiary company ,establish standard processes to reduce 30% developing time</p>
                            </li>
                            <li>
                                <p>Build the management platform with ASP.NET Web Forms,reduce 60% time than the old system</p>
                            </li>
                            <li>
                                <p>Build electronic commerce platform backend api system with ASP.NET MVC 5,this platform serve 417k users</p>
                            </li>
                            <li>
                                <p>Build app system,and design all system structure,this app has over 13 million member,and this system peak load is 1 million</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-project" id="section-project">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12">
                <strong style="font-size: 30px;">Side Project</strong>
            </div>
        </div>
        <div class="filters-content">
            <div class="row grid" style="position: relative;">
                <div class="single-portfolio col-sm-4">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p1.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>高鐵訂票機器人</h4>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p2.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>PTT爬蟲</h4>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p3.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>Windows桌面工具</h4>
                    </div>
                </div>
                <div class="single-portfolio col-sm-4">
                    <div class="relative">
                        <div class="thumb">
                            <div class="overlay overlay-bg"></div>
                            <img class="image img-fluid" src="https://via.placeholder.com/400" alt="">
                        </div>
                        <a href="images/p4.jpg" class="img-pop-up">
                            <div class="middle">
                                <div class="text align-self-center d-flex"><img src="images/preview.png" alt=""></div>
                            </div>
                        </a>
                    </div>
                    <div class="p-inner">
                        <h4>手游腳本</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-edu" id="section-edu">
    <div class="container">
        <div class="row">
            <div class="section-heading text-center col-md-12">
                <strong style="font-size: 30px;">Education</strong>
            </div>
        </div>
        <div class="filters-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-5">Education</h2>
                    <div class="resume-item mb-4">
                        <i class="fas fa-calendar-alt" style="padding-right:15px"></i>July 2013 - July 2017
                        <h3>Bachelor</h3>
                        <p>I completed my bachelor degree in Information Management at NSYSU.</p>
                        <i class="fas fa-school" style="padding-right:15px"></i><span class="school">National Sun Yat-sen University</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
